/* 1. Import the "Outfit" font from Google */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Apply the font to the whole website */
* {
    font-family: Outfit;
}

::-webkit-scrollbar{
  @apply hidden
}